<form
  action="https://api.smtprelay.co/contact/add?version=2"
  data-id="doySoSOFiJ"
  method="post"
  id="ewf_subscriptionForm_doySoSOFiJ"
  class="EWF__form Inline"
>
  <fieldset style="border:none;" class="webform-custominputs">
    <div class="inputs">
      <div>
        <input
          maxlength="81"
          class="border-gray-300 border-2 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2 w-full my-4"
          name="email"
          size="20"
          type="email"
          required=""
          placeholder="Tu mejor correo"
        />
      </div>
    </div>
    <div class="checkboxes"></div>
    <div class="webform-lists" style="display: none;">
      <div
        style="display:flex;"
        class="checkboxes js-[1] Aumenta Pacientes Febreri"
      >
        <label class="container-box">
          <input
            type="checkbox"
            name="publiclistid"
            id="FZsDZGNp"
            value="a3ed93f8-afd9-4c63-b1b7-d30911ed294c"
            checked="checked"
          />
        </label>
        <label class="publiclistlabel" for="FZsDZGNp"
          >[1] Aumenta Pacientes Febreri
        </label>
      </div>
    </div>
    <div class="consent"></div>
    <p id="ewf_datadisclaimer"></p>
  </fieldset>
  <fieldset class="webform-options style-updated" style="border:none;">
    <input
      type="submit"
      name="submit"
      value="Quiero Asistir al Evento"
      id="eesubmit"
      class="bg-verde hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg uppercase my-2 w-full"
    />
    <input
      type="hidden"
      name="publicaccountid"
      value="9377d1ed-c310-4467-b52c-bee4e5379dcb"
    />
    <input
      type="hidden"
      name="returnUrl"
      value="http://aumentapacientes.com/gracias"
    />
    <input type="hidden" name="activationReturnUrl" value="" />
    <input type="hidden" name="alreadyactiveurl" value="" />
    <input type="hidden" name="activationTemplate" value="" />
    <input type="hidden" name="source" value="WebForm" />
    <input
      type="hidden"
      name="verifyemail"
      value="false"
      id="ewf_verifyEmails"
    />
    <input type="hidden" id="ewf_captcha" name="captcha" value="false" />
    <input type="hidden" name="sendActivation" value="true" />
    <input type="hidden" name="notifyEmail" value="" />
    <button
      type="button"
      name="dismissForm"
      id="ewf_dismissForm"
      style="display:none; position: absolute; top: 0; right: 0; float: right"
      >X
    </button>
  </fieldset>
</form>
<div class="flex flex-col items-center">
  <p class="text-sm">Es gratis, pero los cupos son limitados</p>
</div>
