---
import Berenice from "../../assets/berenice_banner_principal.png";
import { Image } from "astro:assets";
import HeroForm from "../hero/HeroForm.astro";
import BottomForm from "../entrenamiento/BottomForm.astro";
---

<section>
  <div class="bg-naranja p-4 md:p-8 my-2 md:mt-16">
    <h2
      class="text-xl md:text-3xl text-center font-semibold text-white leading-relaxed"
    >
      QUIÉN SERÁ TU GUÍA DURANTE EL EVENTO
    </h2>
  </div>
  <div
    class="grid md:grid-cols-2 gap-4 container mx-auto items-center px-4 md:px-0"
  >
    <div>
      <h2 class="text-xl md:text-3xl my-4">
        Hola soy Psicóloga Berenice Bastidas
      </h2>
      <div class="flex flex-col gap-3 md:gap-6 text-sm md:text-lg">
        <p>
          Ayudo a médicos, dentistas, psicólogos, nutriólogos, terapeutas y
          otros profesionales que se dedican a la consulta privada particular a
          incrementar su número de pacientes con estrategia a través de
          internet, incluso si van empezando desde cero y se sienten poco
          tecnológicos.
        </p>
        Gracias a mi formación en psicología y desarrollo personal, traigo una perspectiva
        única al marketing digital.
        <p>
          Inicié mi viaje como emprendedor digital en 2016, cuando la necesidad
          y desesperación me llevaron a encontrar una forma de poder llenar mi
          propia agenda de pacientes para la terapia.
        </p>
        <p>
          En esa búsqueda cree mi propia metodología de prospección de
          pacientes, y una vez que lo resolvi para mi, ahora con mis programas
          Incrementa Tu Consulta y Aumenta Pacientes, he podido compartir este
          conocimiento con otros profesionales de la salud que se dedican a la
          consulta privada, impactando de forma positiva en la vida de más de
          200 alumnos que han pasado ya por mis formaciones de pago, teniendo
          presencia ya en 14 países de Latinoamérica.
        </p>

        <p>
          Justo por eso, porque viví en carne propia el pasar de ser un
          terapeuta en modo supervivencia a construir unos de los cursos online
          para profesionales de la salud que quieren incrementar su número de
          pacientes y vivir de su consulta, más importantes del mercado digital,
          hoy estoy aquí para compartir todo este conocimiento y experiencia
          contigo, para que no importa en qué punto estés en tu camino, juntos
          podamos alcanzar nuevos horizontes.
        </p>
        <p>
          Este evento 100% digital está diseñado para ayudarte a dar el primer
          gran paso. Quiero mostrarte cómo es que mis alumnos están logrando
          generar desde cientos hasta miles de dólares en ventas en 21 días o
          menos, sin sistemas complejos, tecnología cara e incluso sabiendo
          hacer ellos mismos su propia publicidad, ahorrándose con esto lo que
          les cobrarías una agencia de publicidad.
        </p>
      </div>
    </div>
    <div class="mx-auto">
      <Image src={Berenice} alt="Berenice Bastidas" class="fit" />
    </div>
  </div>
  <div class="my-2 md:my-16">
    <div class="bg-azul p-4"></div>
    <div
      class="my-2 md:my-8 text-xl md:text-2xl text-center font-soap text-azul"
    >
      <div class="flex justify-center">
        <BottomForm />
      </div>
    </div>
  </div>
</section>
