<div
  class="bg-azul px-2 pb-4 md:p-4 md:my-8 text-white grid md:grid-cols-2 md:justify-between items-center"
>
  <div class="md:mx-16 order-last md:order-first">
    <div class="text-center md:text-left pt-8 md:pt-0">
      <p class="font-bold md:text-xl">Reserva tu lugar</p>
      <p class="font-semibold md:text-xl">Miercoles 29 de Mayo</p>
      <p class="font-semibold md:text-xl">18:00 Ciudad de Mexico</p>
    </div>
  </div>

  <form
    action="https://api.smtprelay.co/contact/add?version=2"
    data-id="doySoSOFiJ"
    method="post"
    id="ewf_subscriptionForm_doySoSOFiJ"
    class="EWF__form Inline"
  >
    <fieldset class="webform-custominputs">
      <div
        class="grid md:grid-cols-2 gap-4 md:flex-row md:gap-8 mt-2 md:mt-8 p-4"
      >
        <input
          maxlength="81"
          class="px-8 h-14 text-primary text-black"
          name="email"
          size="20"
          type="email"
          required=""
          placeholder="Tu mejor correo"
        />
        <input
          type="submit"
          name="submit"
          value=" ¡Si, Quiero entrar!"
          id="eesubmit"
          class="px-4 font-bold uppercase bg-[#fbbf0f] h-14 text-azul hover:bg-secondarylight transform active:scale-75 transition-transform min-w-fit rounded-lg"
        />
      </div>
      <div class="checkboxes"></div>
      <div class="webform-lists" style="display: none;">
        <div
          style="display:flex;"
          class="checkboxes js-[1] Aumenta Pacientes Febreri"
        >
          <label class="container-box">
            <input
              type="checkbox"
              name="publiclistid"
              id="aJrObnly"
              value="0653b812-88b1-47a4-a344-236cd11a5439"
              checked="checked"
            />
          </label>
          <label class="publiclistlabel" for="aJrObnly"
            >Aumenta Pacientes Febreri
          </label>
        </div>
      </div>
      <div class="consent"></div>
      <p id="ewf_datadisclaimer"></p>
    </fieldset>
    <fieldset class="webform-options style-updated" style="border:none;">
      <input
        type="hidden"
        name="publicaccountid"
        value="9377d1ed-c310-4467-b52c-bee4e5379dcb"
      />
      <input
        type="hidden"
        name="returnUrl"
        value="http://aumentapacientes.com/wgracias"
      />
      <input type="hidden" name="activationReturnUrl" value="" />
      <input type="hidden" name="alreadyactiveurl" value="" />
      <input type="hidden" name="activationTemplate" value="" />
      <input type="hidden" name="source" value="WebForm" />
      <input
        type="hidden"
        name="verifyemail"
        value="false"
        id="ewf_verifyEmails"
      />
      <input type="hidden" id="ewf_captcha" name="captcha" value="false" />
      <input type="hidden" name="sendActivation" value="false" />
      <input type="hidden" name="notifyEmail" value="" />
      <button
        type="button"
        name="dismissForm"
        id="ewf_dismissForm"
        style="display:none; position: absolute; top: 0; right: 0; float: right"
        >X
      </button>
    </fieldset>
  </form>
</div>
