---
import Layout from "../layouts/Layout.astro";
---

<script>
  setTimeout(() => {
    window.location.replace("https://chat.whatsapp.com/D8iOdZgSGqfHzKsa1sGriS");
  }, 5000);
</script>

<Layout title="Gracias por registrarte">
  <div class="bg-rojo text-white text-xl md:text-2xl uppercase">
    <div class="relative flex overflow-x-hidden">
      <div class="py-12 animate-marquee whitespace-nowrap">
        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >
        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >
        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >
        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >
      </div>

      <div class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >
        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >

        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >

        <span class="text-xl md:text-4xl mx-4"
          >te falto el paso <span class="font-bold">mas Importante</span></span
        >
      </div>
    </div>
  </div>
  <div
    class="bg-azul p-4 h-screen text-white flex flex-col items-center text-center gap-8 md:gap-16 font-montserrat md:px-36 px-6"
  >
    <h1
      class="text-center uppercase md:text-6xl text-2xl font-black font-montserrat text-white md:mt-16 mt-4"
    >
      ¡ Importante !
    </h1>
    <p class="text-xl md:text-4xl">
      Tu inscripcion al reto <span class="text-rojo uppercase font-bold"
        >No</span
      > se ha completado
    </p>

    <p class="md:text-2xl text-lg">
      Accede al Grupo de Whatsapp donde ire publicando absolutamente cada paso
      del método. Si no estás, te perderás el reto y muchas sorpresas que
      tenemos preparadas....
    </p>

    <button
      class="bg-naranja p-4 text-white rounded-lg uppercase font-semibold"
      onclick="clicked()"
    >
      Accede al grupo de whatsapp</button
    >
  </div>
</Layout>

<script type="text/javascript">
  function clicked() {
    window.window.location.replace(
      "https://chat.whatsapp.com/D8iOdZgSGqfHzKsa1sGriS"
    );
  }
</script>
