---
import CtaButton from "./elements/ctabutton.astro";
import { Icon } from "astro-icon";
---

<section class="container mx-auto">
  <div class="md:container md:mx-12 mx-4 mt-12">
    <h2 class="text-xl md:text-4xl mt-2 text-center">
      Estoy Listo (a) Para Empezar Aumantar Mi Numero de Pacientes
    </h2>

    <CtaButton />
    <h2
      class="text-center my-2 md:text-4xl text-2xl text-primary font-semibold"
    >
      Conoce las facilidades de pago 3, 6, 9 o 12 meses pagos chiquitos
    </h2>
  </div>
</section>
