---
import CtaButton from "./elements/ctabutton.astro";
import { Icon } from "astro-icon";
import Flip from "./elements/flip.astro";
---

<div class="mt-12">
  <h1 class="text-2xl lg:text-5xl text-center">
    El Curso Online Aumenta Pacientes Cierra Sus Puertas En
  </h1>
  <div class="mt-12 max-w-5xl mx-auto">
    <Flip />
  </div>
  <CtaButton />
</div>
