---
import { Icon } from "astro-icon";
import Ctabutton from "./elements/ctabutton.astro";
import Carrouseltestimonios from "./elements/carrouseltestimonios.astro";
---

<section class="container mx-auto my-12 md:my-24">
  <div
    class="border-8 border-primary px-4 rounded-xl flex flex-col md:flex-row items-center md:mb-8"
  >
    <p class="text-xl md:text-4xl md:mx-12 mx-2 leading-0 py-4 text-center">
      춰Si accedes hoy adem치s hay bonos para ti! obtienes de forma 100% GRATUITA
      de regalo
    </p>
  </div>
  <div class="md:grid md:grid-cols-3 gap-4 items-center">
    <img src="/laptop.webp" alt="laptop" class="mx-auto" />
    <div class="flex flex-col gap-8 md:text-2xl my-4 md:col-span-2">
      <!-- <div>
        <p class="text-primary font-semibold">
          游꾸 Coaching en mentor칤a uno a uno Valorado en $300 d칩lares
        </p>
        <p>
          Recibir치s una sesi칩n de acompa침amiento durante la creaci칩n de tu
          primera campa침a para poner tus anuncios de promoci칩n de tu consulta en
          Facebook e Instagram yo la har칠 personalmente contigo clic por clic.
        </p>
      </div> -->
      <div>
        <p class="text-primary font-semibold">
          游꾸 Crea anuncios potentes Valorado en $500 d칩lares
        </p>
        <p>
          Conocer치s la estrategia que usan grandes empresas para conseguir m치s
          pacientes a la semana y llenar sus agendas utilizando Facebook e
          Instagram ADS. Ver치s desde las bases: c칩mo configurar tu cuenta
          publicitaria, hasta c칩mo posicionar anuncios que atraigan a tus
          pacientes, ahorr치ndote con este conocimiento miles de d칩lares que te
          cobrar칤a una agencia de marketing por hacerte esto, porque lo sabr치s
          hacer t칰 mismo.
        </p>
      </div>
      <div>
        <p class="text-primary font-semibold">
          游꾸 Templetes de poder Valorado en $200 d칩lares
        </p>
        <p>
          Este 칰ltimo bono es de ACCION RAPIDA, exclusiva para las personas que
          se inscriban hoy. Recibir치s la b칩veda de plantillas digitales y
          editables que te facilitaran la creaci칩n de potentes im치genes de venta
          que te generen conversiones r치pidas en consultas, cuando pongas tus
          campa침as
        </p>
      </div>
    </div>
  </div>
  <div class="mt-12">
    <p
      class="text-xl md:text-4xl md:mx-12 mx-2 leading-0 py-4 px-2 text-center"
    >
      Adem치s tienes <span class="text-secondary">7 d칤as de GARANTIA</span>
       podr치s empezar la formaci칩n conocer a todos tus compa침eros empezar a
      formarte y si no te gusta lo que vez, si sientes que no es lo tuyo te
      devuelvo el 100% del importe pagado.
    </p>
  </div>
  <img src="/logo_garantia.webp" alt="laptop" class="mx-auto mt-4" />

  <h1 class="text-xl md:text-4xl mt-2 text-center">
    El precio regular de este curso online es de <span
      class="text-primary font-bold">$197 d칩lares</span
    >
     pero al inscribirte hoy, recibes
    <span class="text-primary font-bold"> un descuento de 50%</span>, por lo que
    tu inversi칩n seria solo de
  </h1>

  <Carrouseltestimonios />

  <Ctabutton />
</section>
