<footer class="bg-gray-200 md:p-8 p-4 mt-10">
  <p class="md:mx-20 mx-4">
    © {new Date().getFullYear()} Aumenta Pacientes This site is not a part of the
    Facebook website or Facebook Inc. Additionally, this site is not endorsed by
    Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc. Esta página no
    forma parte de Facebook. Además, esta página no está avalada por Facebook. FACEBOOK
    es una marca registrada de FACEBOOK, Inc. Este sitio no es parte de un sitio
    de Google™ o Alphabet Inc. Adicionalmente, este sitio NO está patrocinado por
    Google™ de ninguna forma. Google™ es una marca registrada de Alphabet, Inc.
  </p>
</footer>
