<footer class="bg-primary py-8 text-center">
  <p class="text-white md:text-xl text-sm container mx-auto px-4">
    Legal Terms - Acerca de las politicas de privacidad y uso de cookies Aumenta
    Pacientes Derechos reservados 2023
  </p>
  <p class="text-white md:text-xl text-sm container mx-auto px-4">
    <a href="https://aumentapacientes.com">Aumenta Pacientes</a>
     Psicologa Berenice Bastidas Mexicali Baja California, México Wh atsapp: +52
    (686) 234-9366
  </p>
</footer>
