---
import { PreguntasAccordion } from "./Accordion";
---

<section>
  <div class="md:max-w-6xl mx-auto md:my-16">
    <h1 class="text-center font-soap text-4xl text-naranja">
      preguntas <span class="md:text-6xl align-top">Frecuentes</span>
    </h1>
    <p class="text-center md:mt-4 md:text-xl md:w-1/2 mx-auto">
      A continuación, responderé las preguntas más frecuentes que me hacen
      referente al curso:
    </p>
    <div class="md:my-16">
      <PreguntasAccordion client:load />
    </div>
  </div>
</section>
